<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Assignments for {{eventTitle}}
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		The position assignments for the <strong>{{eventTitle}}</strong> event have been published. Please check whether you've been assigned a position by visiting <a href="https://zabartcc.org/events/{{slug}}" style="text-decoration: none; font-weight: 700; color: #192d66;"> the website</a>. <br />If due to unforseen circumstances you need to cancel, please let the events coordinator know as soon as possible by sending an email to <a href="mailto:ec@zabartcc.org" style="text-decoration: none; font-weight: 700; color: #192d66;">ec@zabartcc.org</a>.<br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>