<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Albuquerque ARTCC</title>
		<style>
			@font-face {
				font-family: 'Lato';
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
			}
			@font-face {
				font-family: 'Lato';
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
			}
			@font-face {
				font-family: 'Lato';
				font-style: normal;
				font-weight: 300;
				font-display: swap;
				src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
			}
		</style>
	</head>
	<body style="margin: 0; font-family: 'Lato', 'Segoe UI', 'Avenir', Roboto, sans-serif!important;">
		<div style="background-color: #122049; color: #fff; height: 70px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5), 0 3px 1px -2px rgba(0,0,0,0.5), 0 1px 5px 0 rgba(0,0,0,0.5)!important">
			<div style="margin-left: 1em; padding-top: 10px;">
				<div style="font-size: 1.3rem;">Albuquerque</div>
				<div style="font-weight: 300; margin-left: 40px; font-size: 1rem;">ARTCC</div>
			</div>
			<div style="margin-right: 1em;">
				<img src="https://zabartcc.sfo3.digitaloceanspaces.com/images/zab_logo.png" style="float: right; margin-top: -50px;" width="50" height="50" alt="ZAB Logo" />
			</div>
		</div>
		<div class="container" style="width: 100%; padding: 0 1em; box-sizing: border-box; max-width: 600px; margin: 40px auto 20px auto;">
			{{{body}}}
		</div>

		<div style="text-align: center; padding: 0 1em; font-size: 0.8rem; color: gray; font-style: italic;">
			Bleep-bloop, I am a robot. Replies to this email will not be delivered.
		</div>
	</body>
</html>
