<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Albuquerque ARTCC</title>
	</head>
	<body>
		<nav class="header">
			<div class="header-title">
				<div class="title-top">Albuquerque</div>
				<div class="title-bottom">ARTCC</div>
			</div>
			<div class="header-image-container">
				<img src="https://i.imgur.com/5BzVn5r.png" class="header-image" />
			</div>
		</nav>
		<div class="container">
			{{{body}}}
		</div>

		<div class="footer">
			Bleep-bloop, I am a robot. Replies to this message will not be seen.
		</div>
	</body>
</html>
<style>
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif!important;
}

.container {
	width: 85%;
	max-width: 600px;
	margin: 40px auto 20px auto;
}

.header {
	background-color: #122049;
	color: #fff;
	height: 70px;
}

.header-image-container {
	margin-right: 1em;
	margin-top: -45px;
}

.header-image {
	width: 50px;
	height: auto;
	float: right;
}

.header-title {
	margin-left: 1em;
	padding-top: 10px;
}

.title-top {
	font-size: 1.3rem;
}

.title-bottom {
	font-weight: 300;
	margin-left: 40px;
}

.footer {
	text-align: center;
	padding: 0 1em;
	font-size: 0.8rem;
	color: gray;
	font-style: italic;
}
</style>