<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	New Training Request
    </div>
    <div style="font-size: 0.9rem;">
		Hello, <br /><br />
		A new training request has been submitted. Please head over to the instructor dashboard on <a href="https://zabartcc.org/ins/training">the website</a> if you would like to pick this session up.
		<br /><br />
		<div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Student</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right;">{{student}}</div>
			</div>
			<div style="width: 100%; display: flex;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Start Time</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right">{{startTime}}z</div>
			</div>
			<div style="width: 100%; display: flex; background: #EDEDED;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">End Time</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right">{{endTime}}z</div>
			</div>
			<div style="width: 100%; display: flex;">
				<div style="padding: .25em 0 .5em .5em; width: 90px; border-right: 1px solid darkgray;">Milestone</div>
				<div style="padding: .25em 0 .5em .5em; padding-left: 1em; width: calc(100% - 90px - 1em); float: right">{{milestone}}</div>
			</div>
		</div>
		<br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>
