<div class="card">
	<div class="card-title">
    	Training Request Taken
    </div>
    <div class="card-content">
		Hello {{student}}, <br /><br />
		Your training request for <b>{{startTime}}z</b> until <b>{{endTime}}z</b> has been taken by <b>{{instructor}}</b>. If you have any questions, please let your instructor know. <br /><br />If due to unforeseen circumstaces you need to cancel this session, please let your instructor and the TA know as soon as possible. 
		<br /><br />Sincerely,<br />The ZAB Staff Team</p>
	</div>
</div>
