<div class="card">
	<div class="card-title">
    	Visiting Application Received
    </div>
    <div class="card-content">
		Hello {{name}}, <br /><br />
		We have succesfully received your visiting application! Our staff team will review your application as soon as possible. In the meantime, if you have any questions or concerns, please don't hesitate to <a href="mailto:datm@zabartcc.org">let the DATM know.</a><br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>