<div class="card">
	<div class="card-title">
    	Visiting Application Rejected
    </div>
    <div class="card-content">
		Hello {{name}}, <br /><br />
		Unfortunately, your visiting application for the Albuquerque ARTCC was rejected. The following reason was provided:<br /><br /><strong>{{reason}}</strong><br /><br />If you have any questions, please don't hesitate to <a href="mailto:datm@zabartcc.org">reach out to the DATM.</a> You are welcome to reapply once you've met all requirements.<br /><br />Sincerely,<br />The ZAB Staff team</p>
	</div>
</div>

<style>
.card {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 20px;
}

.card-content {
  	font-size: 0.9rem;
}

.card-content a {
	text-decoration: none;
	color: #192d66;
	font-weight: 700;
}
</style>