<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Visiting Application Accepted
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		Your visiting application for the Albuquerque ARTCC has been accepted! You have been added to our roster and have been given access to the controller dashboard. If you have any questions, please don't hesitate to reach out to any of the senior staff.<br /><br />Sincerely,<br />The ZAB Staff Team<br /><br /><p style="font-style: italic; font-size: .7rem;">P.S. Have you joined <a href="https://vats.im/zabdiscord" target="_blank" rel="noreferrer noopener" style="text-decoration: none; font-weight: 700; color: #192d66;">our Discord server</a> yet?</p>
	</div>
</div>