<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Visiting Application Rejected
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		Unfortunately, your visiting application for the Albuquerque ARTCC has been rejected. The following reason was provided:<br /><br /><div style="border-left: 2px solid #122049; background: #EDEDED; padding: 1em;">{{reason}}</div><br />If you have any questions, please don't hesitate to <a href="mailto:datm@zabartcc.org" style="text-decoration: none; font-weight: 700; color: #192d66;">reach out to the DATM.</a> You are welcome to reapply once you've met all requirements.<br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>
