<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Visiting Application Received
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		We have succesfully received your visiting application! Our staff team will review your application as soon as possible. In the meantime, if you have any questions or concerns, please don't hesitate to <a href="mailto:datm@zabartcc.org" style="text-decoration: none; font-weight: 700; color: #192d66;">let the DATM know.</a><br /><br />Sincerely,<br />The ZAB Staff Team
	</div>
</div>