<div class="card">
	<div class="card-title">
    	Visiting Application Accepted
    </div>
    <div class="card-content">
		Hello {{name}}, <br /><br />
		Your visiting application for the Albuquerque ARTCC has been accepted! You have been added to our roster and have been given access to the controller dashboard. If you have any questions, please don't hesitate to reach out to any of the senior staff.<br /><br />Sincerely,<br />The ZAB Staff Team<br /><br /><p class="disclaimer">P.S. Have you joined <a href="https://vats.im/zabdiscord" target="_blank" rel="noreferrer noopener">our Discord server</a> yet?</p>
	</div>
</div>

<style>
.disclaimer {
	font-style: italic;
	font-size: .7rem;
}
</style>